   @font-face {
      font-display: block;
      font-family: wf_7fdd1e57ead542569229d7d2a;
      src: url("https://static.wixstatic.com/ufonts/6c5a17_7fdd1e57ead542569229d7d2a86821f3/woff2/file.woff2") format("woff2"),
         url("https://static.wixstatic.com/ufonts/6c5a17_7fdd1e57ead542569229d7d2a86821f3/woff/file.woff") format("woff"),
         url("https://static.wixstatic.com/ufonts/6c5a17_7fdd1e57ead542569229d7d2a86821f3/ttf/file.ttf") format("ttf");
   }

   @font-face {
      font-display: block;
      font-family: wf_50f47e5542944300b32e0d788;
      src: url("https://static.wixstatic.com/ufonts/6c5a17_50f47e5542944300b32e0d7887baabb2/woff2/file.woff2") format("woff2"),
         url("https://static.wixstatic.com/ufonts/6c5a17_50f47e5542944300b32e0d7887baabb2/woff/file.woff") format("woff"),
         url("https://static.wixstatic.com/ufonts/6c5a17_50f47e5542944300b32e0d7887baabb2/ttf/file.ttf") format("ttf");
   }

   @font-face {
      font-family: "DIN-Next-W01-Light";
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
      font-display: block;
   }

   @font-face {
      font-family: "DIN-Next-W02-Light";
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
      font-display: block;
   }

   @font-face {
      font-family: "DIN-Next-W10-Light";
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix");
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9e95a29-98a7-404a-90ee-1929ad09c696.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c") format("svg");
      font-display: block;
   }

   @font-face {
      font-display: block;
      font-family: wf_c1c8b8d0f9454dca85551b11d;
      src: url("https://static.wixstatic.com/ufonts/5e3ef3_c1c8b8d0f9454dca85551b11d92f6f66/woff2/file.woff2") format("woff2"),
         url("https://static.wixstatic.com/ufonts/5e3ef3_c1c8b8d0f9454dca85551b11d92f6f66/woff/file.woff") format("woff"),
         url("https://static.wixstatic.com/ufonts/5e3ef3_c1c8b8d0f9454dca85551b11d92f6f66/ttf/file.ttf") format("ttf");
   }

   @font-face {
      font-family: "Proxima-N-W01-Reg";
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
      font-display: block;
   }

   @font-face {
      font-family: "Proxima-N-W05-Reg";
      src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff2") format("woff2"),
         url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff") format("woff");
      font-display: block;
   }

   #masterPage:not(.landingPage) #PAGES_CONTAINER {
      margin-top: 0px;
      margin-bottom: 0px;
   }

   #masterPage.landingPage #SITE_HEADER {
      display: none;
   }

   #masterPage.landingPage #SITE_FOOTER {
      display: none;
   }

   #masterPage.landingPage #SITE_HEADER-placeholder {
      display: none;
   }

   #masterPage.landingPage #SITE_FOOTER-placeholder {
      display: none;
   }

   #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex=\"-1\"]):focus,
   #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex=\"-1\"]):focus~.wixSdkShowFocusOnSibling {
      box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;
      z-index: 1;
   }

   #masterPage {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 980px;
   }

   #SITE_HEADER {
      z-index: 50;
      --above-all-in-container: 10000;
   }

   #PAGES_CONTAINER {
      --pinned-layer-in-container: 51;
      --above-all-in-container: 49;
   }

   #SITE_FOOTER {
      --pinned-layer-in-container: 52;
      --above-all-in-container: 49;
   }

   #masterPage:not(.landingPage) {
      --top-offset: var(--header-height);
      --header-height: 72px;
   }

   #masterPage.landingPage {
      --top-offset: 0px;
   }

   #SITE_HEADER {
      --bg: 255, 255, 255;
      --shd: none;
      --brwt: 0px;
      --brd: 160, 160, 159;
      --brwb: 0px;
      --bgctr: 255, 255, 255;
      --rd: 0px;
      --alpha-bg: 1;
      --alpha-bgctr: 1;
      --alpha-brd: 1;
      --boxShadowToggleOn-shd: none;
   }

   #SITE_HEADER {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 980px;
   }

   #SITE_HEADER-placeholder {
      height: 72px;
   }

   [data-mesh-id=SITE_HEADERinlineContent] {
      height: auto;
      width: 100%;
      display: flex;
   }

   [data-mesh-id=SITE_HEADERinlineContent-gridContainer] {
      position: static;
      display: grid;
      height: auto;
      width: 100%;
      min-height: auto;
      margin-bottom: -2px;
      grid-template-rows: 1fr;
      grid-template-columns: 100%;
   }

   [data-mesh-id=SITE_HEADERinlineContent-gridContainer]>[id="comp-jzlu0cho"] {
      position: relative;
      margin: 2px 0px 0px calc((100% - 980px) * 0.5);
      left: 0px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
   }

   #comp-jzlu0cho {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 980px;
   }

   [data-mesh-id=comp-jzlu0ckkinlineContent] {
      height: auto;
      width: 100%;
   }

   [data-mesh-id=comp-jzlu0ckkinlineContent-gridContainer] {
      position: static;
      display: grid;
      height: auto;
      width: 100%;
      min-height: auto;
      grid-template-rows: 1fr;
      grid-template-columns: 100%;
   }

   [data-mesh-id=comp-jzlu0ckkinlineContent-gridContainer]>[id="comp-jzd24hkw"] {
      position: relative;
      margin: 15px 0px 16px calc((100% - 490px) * 0);
      left: 76px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
   }

   [data-mesh-id=comp-l0pl2tspinlineContent] {
      height: auto;
      width: 100%;
   }

   [data-mesh-id=comp-l0pl2tspinlineContent-gridContainer] {
      position: static;
      display: grid;
      height: auto;
      width: 100%;
      min-height: auto;
      grid-template-rows: 1fr;
      grid-template-columns: 100%;
   }

   [data-mesh-id=comp-l0pl2tspinlineContent-gridContainer]>[id="comp-l0pl05ye"] {
      position: relative;
      margin: 11px 0px 11px calc((100% - 490px) * 1);
      left: 153px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
   }

   #comp-jzlu0ckk {
      width: 490px;
   }

   #comp-jzd24hkw {
      --fade_next: opacity 0.1s ease 0s;
      --fade_prev: opacity 0.5s ease 0s;
   }

   #comp-jzd24hkw {
      width: 192px;
      height: 41px;
   }

   #comp-l0pl2tsp {
      width: 490px;
   }

   #comp-l0pl05ye {
      --menuTotalBordersX: 0px;
      --menuTotalBordersY: 0px;
      --bgDrop: var(--color_11);
      --rd: 0px;
      --shd: none;
      --fnt: normal normal normal 18px/1.4em wfont_6c5a17_50f47e5542944300b32e0d7887baabb2, wf_50f47e5542944300b32e0d788, orig_graphik_medium;
      --pad: 5px;
      --txt: 0, 0, 0;
      --trans: color 0.4s ease 0s;
      --txth: var(--color_28);
      --txts: var(--color_23);
      --alpha-bgDrop: 1;
      --alpha-txt: 1;
      --alpha-txth: 1;
      --alpha-txts: 1;
      --boxShadowToggleOn-shd: none;
   }

   #comp-l0pl05ye {
      width: 260px;
      height: 50px;
   }

   #PAGES_CONTAINER {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 980px;
   }

   #SITE_PAGES {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 980px;
   }

   #SITE_FOOTER {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 980px;
   }

   [data-mesh-id=SITE_FOOTERinlineContent] {
      height: auto;
      width: 100%;
      display: flex;
   }

   [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] {
      position: static;
      display: grid;
      height: auto;
      width: 100%;
      min-height: auto;
      margin-top: -1px;
      grid-template-rows: 1fr;
      grid-template-columns: 100%;
   }

   [data-mesh-id=SITE_FOOTERinlineContent-gridContainer]>[id="comp-jzllkc2n"] {
      position: relative;
      margin: 0px 0px 16px calc((100% - 980px) * 0.5);
      left: 0px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
   }

   #comp-jzllkc2n {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 980px;
   }

   [data-mesh-id=comp-jzllkc5iinlineContent] {
      height: auto;
      width: 100%;
   }

   [data-mesh-id=comp-jzllkc5iinlineContent-gridContainer] {
      position: static;
      display: grid;
      height: auto;
      width: 100%;
      min-height: auto;
      grid-template-rows: min-content 1fr;
      grid-template-columns: 100%;
   }

   [data-mesh-id=comp-jzllkc5iinlineContent-gridContainer]>[id="comp-l0pt3v7y"] {
      position: relative;
      margin: 34px 0px 18px calc((100% - 980px) * 0);
      left: 77px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
   }

   [data-mesh-id=comp-jzllkc5iinlineContent-gridContainer]>[id="comp-l0pt2v30"] {
      position: relative;
      margin: 0px 0px 34px calc((100% - 980px) * 0);
      left: 126px;
      grid-area: 2 / 1 / 3 / 2;
      justify-self: start;
      align-self: start;
   }

   [data-mesh-id=comp-jzllkc5iinlineContent-gridContainer]>[id="comp-l0pt2y80"] {
      position: relative;
      margin: 0px 0px 34px calc((100% - 980px) * 0);
      left: 242px;
      grid-area: 2 / 1 / 3 / 2;
      justify-self: start;
      align-self: start;
   }

   [data-mesh-id=comp-jzllkc5iinlineContent-gridContainer]>[id="comp-l0puw7pi"] {
      position: relative;
      margin: 0px 0px 34px calc((100% - 980px) * 0);
      left: 345px;
      grid-area: 2 / 1 / 3 / 2;
      justify-self: start;
      align-self: start;
   }

   [data-mesh-id=comp-jzllkc5iinlineContent-gridContainer]>[id="comp-l0pt325c"] {
      position: relative;
      margin: 0px 0px 34px calc((100% - 980px) * 0);
      left: 422px;
      grid-area: 2 / 1 / 3 / 2;
      justify-self: start;
      align-self: start;
   }

   #comp-jzllkc5i {
      width: 980px;
   }

   #comp-l0pt3v7y {
      width: 275px;
   }

   [data-mesh-id=comp-l0pt3v7yinlineContent] {
      height: auto;
      width: 275px;
   }

   [data-mesh-id=comp-l0pt3v7yinlineContent-gridContainer] {
      position: static;
      display: grid;
      height: auto;
      width: 100%;
      min-height: auto;
      grid-template-rows: 1fr;
      grid-template-columns: 100%;
   }

   [data-mesh-id=comp-l0pt3v7yinlineContent-gridContainer]>[id="comp-l0psyszb"] {
      position: relative;
      margin: 9px 0px 14px 0;
      left: 0px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
   }

   [data-mesh-id=comp-l0pt3v7yinlineContent-gridContainer]>[id="comp-jzg81c0v"] {
      position: relative;
      margin: 0px 0px 0px 0;
      left: 49px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
   }

   #comp-l0psyszb {
      width: 34px;
      height: 29px;
   }

   #comp-jzg81c0v {
      width: 226px;
      height: auto;
   }

   #comp-l0pt2v30 {
      --txth: var(--color_28);
      --trans: color 0.4s ease 0s;
      --fnt: normal normal normal 18px/1.4em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --txt: 0, 0, 0;
      --txtd: 255, 255, 255;
      --alpha-txtd: 1;
      --alpha-txt: 1;
      --alpha-txth: 1;
   }

   #comp-l0pt2v30 {
      width: 88px;
      height: 34px;
   }

   #comp-l0pt2y80 {
      --txth: var(--color_28);
      --trans: color 0.4s ease 0s;
      --fnt: normal normal normal 18px/1.4em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --txt: 0, 0, 0;
      --txtd: 255, 255, 255;
      --alpha-txtd: 1;
      --alpha-txt: 1;
      --alpha-txth: 1;
   }

   #comp-l0pt2y80 {
      width: 75px;
      height: 34px;
   }

   #comp-l0puw7pi {
      --txth: var(--color_28);
      --trans: color 0.4s ease 0s;
      --fnt: normal normal normal 18px/1.4em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --txt: 0, 0, 0;
      --txtd: 255, 255, 255;
      --alpha-txtd: 1;
      --alpha-txt: 1;
      --alpha-txth: 1;
   }

   #comp-l0puw7pi {
      width: 48px;
      height: 34px;
   }

   #comp-l0pt325c {
      --txth: var(--color_28);
      --trans: color 0.4s ease 0s;
      --fnt: normal normal normal 18px/1.4em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --txt: 0, 0, 0;
      --txtd: 255, 255, 255;
      --alpha-txtd: 1;
      --alpha-txt: 1;
      --alpha-txth: 1;
   }

   #comp-l0pt325c {
      width: 70px;
      height: 34px;
   }

   :root,
   :host,
   .spxThemeOverride {
      --color_0: 255, 255, 255;
      --color_44: 255, 255, 255;
      --color_22: 161, 198, 255;
      --color_1: 255, 255, 255;
      --color_2: 0, 0, 0;
      --color_3: 237, 28, 36;
      --color_4: 0, 136, 203;
      --color_5: 255, 203, 5;
      --color_6: 114, 114, 114;
      --color_7: 176, 176, 176;
      --color_8: 255, 255, 255;
      --color_23: 62, 131, 251;
      --color_9: 114, 114, 114;
      --color_10: 176, 176, 176;
      --color_11: 255, 255, 255;
      --color_12: 255, 172, 146;
      --color_13: 255, 89, 37;
      --color_14: 170, 59, 25;
      --color_15: 0, 0, 0;
      --color_16: 184, 238, 186;
      --color_17: 145, 222, 149;
      --color_18: 92, 218, 66;
      --color_24: 45, 94, 170;
      --color_19: 43, 137, 47;
      --color_20: 21, 68, 24;
      --color_25: 22, 47, 85;
      --color_26: 213, 213, 213;
      --color_27: 170, 170, 170;
      --color_28: 116, 116, 116;
      --color_29: 85, 85, 85;
      --color_30: 42, 42, 42;
      --color_31: 255, 255, 255;
      --color_32: 213, 213, 213;
      --color_33: 204, 204, 204;
      --color_34: 128, 128, 128;
      --color_35: 85, 85, 85;
      --color_36: 255, 255, 255;
      --color_37: 0, 0, 0;
      --color_38: 255, 172, 146;
      --color_39: 255, 89, 37;
      --color_40: 170, 59, 25;
      --font_0: normal normal normal 64px/1.2em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --color_45: 0, 0, 0;
      --color_41: 92, 218, 66;
      --color_46: 0, 0, 0;
      --color_47: 170, 59, 25;
      --color_48: 92, 218, 66;
      --color_49: 92, 218, 66;
      --color_50: 255, 255, 255;
      --color_51: 255, 255, 255;
      --color_52: 92, 218, 66;
      --color_53: 92, 218, 66;
      --color_54: 255, 89, 37;
      --color_55: 255, 89, 37;
      --color_56: 255, 255, 255;
      --color_57: 255, 255, 255;
      --color_58: 92, 218, 66;
      --color_59: 92, 218, 66;
      --color_42: 0, 0, 0;
      --color_60: 92, 218, 66;
      --color_61: 92, 218, 66;
      --color_62: 255, 255, 255;
      --color_63: 255, 255, 255;
      --font_1: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
      --font_2: normal normal normal 64px/1.1em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --font_3: normal normal normal 40px/1.3em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --font_4: normal normal normal 24px/1.5em wfont_5e3ef3_c1c8b8d0f9454dca85551b11d92f6f66, wf_c1c8b8d0f9454dca85551b11d, orig_graphik;
      --font_5: normal normal normal 18px/1.4em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --font_6: normal normal normal 18px/1.6em wfont_5e3ef3_c1c8b8d0f9454dca85551b11d92f6f66, wf_c1c8b8d0f9454dca85551b11d, orig_graphik;
      --font_7: normal normal normal 16px/1.2em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --font_8: normal normal normal 14px/1.4em wfont_5e3ef3_c1c8b8d0f9454dca85551b11d92f6f66, wf_c1c8b8d0f9454dca85551b11d, orig_graphik;
      --color_64: 255, 89, 37;
      --color_21: 192, 217, 255;
      --font_9: normal normal normal 14px/1.4em proxima-n-w01-reg, proxima-n-w05-reg, sans-serif;
      --font_10: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
      --wix-ads-height: 0px;
      --wix-ads-top-height: 0px;
      --site-width: 980px;
      --above-all-z-index: 100000;
      --portals-z-index: 100001;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      --minViewportSize: 320;
      --maxViewportSize: 1920;
      --color_65: 255, 89, 37;
      --color_43: 255, 89, 37;
      --theme-spx-ratio: 1px
   }

   .font_0 {
      font: var(--font_0);
      color: rgb(var(--color_13));
      letter-spacing: 0em
   }

   .font_1 {
      font: var(--font_1);
      color: rgb(var(--color_14));
      letter-spacing: 0em
   }

   .font_2 {
      font: var(--font_2);
      color: rgb(0, 0, 0);
      letter-spacing: 0em
   }

   .font_3 {
      font: var(--font_3);
      color: rgb(0, 0, 0);
      letter-spacing: 0em
   }

   .font_4 {
      font: var(--font_4);
      color: rgb(var(--color_2));
      letter-spacing: 0em
   }

   .font_5 {
      font: var(--font_5);
      color: rgb(0, 0, 0);
      letter-spacing: 0em
   }

   .font_6 {
      font: var(--font_6);
      color: rgb(0, 0, 0);
      letter-spacing: 0em
   }

   .font_7 {
      font: var(--font_7);
      color: rgb(0, 0, 0);
      letter-spacing: 0em
   }

   .font_8 {
      font: var(--font_8);
      color: rgb(var(--color_13));
      letter-spacing: 0.05em
   }

   .font_9 {
      font: var(--font_9);
      color: rgb(var(--color_15));
      letter-spacing: 0em
   }

   .font_10 {
      font: var(--font_10);
      color: rgb(var(--color_14));
      letter-spacing: 0em
   }

   .color_0 {
      color: rgb(var(--color_0))
   }

   .color_1 {
      color: rgb(var(--color_1))
   }

   .color_2 {
      color: rgb(var(--color_2))
   }

   .color_3 {
      color: rgb(var(--color_3))
   }

   .color_4 {
      color: rgb(var(--color_4))
   }

   .color_5 {
      color: rgb(var(--color_5))
   }

   .color_6 {
      color: rgb(var(--color_6))
   }

   .color_7 {
      color: rgb(var(--color_7))
   }

   .color_8 {
      color: rgb(var(--color_8))
   }

   .color_9 {
      color: rgb(var(--color_9))
   }

   .color_10 {
      color: rgb(var(--color_10))
   }

   .color_11 {
      color: rgb(var(--color_11))
   }

   .color_12 {
      color: rgb(var(--color_12))
   }

   .color_13 {
      color: rgb(var(--color_13))
   }

   .color_14 {
      color: rgb(var(--color_14))
   }

   .color_15 {
      color: rgb(var(--color_15))
   }

   .color_16 {
      color: rgb(var(--color_16))
   }

   .color_17 {
      color: rgb(var(--color_17))
   }

   .color_18 {
      color: rgb(var(--color_18))
   }

   .color_19 {
      color: rgb(var(--color_19))
   }

   .color_20 {
      color: rgb(var(--color_20))
   }

   .color_21 {
      color: rgb(var(--color_21))
   }

   .color_22 {
      color: rgb(var(--color_22))
   }

   .color_23 {
      color: rgb(var(--color_23))
   }

   .color_24 {
      color: rgb(var(--color_24))
   }

   .color_25 {
      color: rgb(var(--color_25))
   }

   .color_26 {
      color: rgb(var(--color_26))
   }

   .color_27 {
      color: rgb(var(--color_27))
   }

   .color_28 {
      color: rgb(var(--color_28))
   }

   .color_29 {
      color: rgb(var(--color_29))
   }

   .color_30 {
      color: rgb(var(--color_30))
   }

   .color_31 {
      color: rgb(var(--color_31))
   }

   .color_32 {
      color: rgb(var(--color_32))
   }

   .color_33 {
      color: rgb(var(--color_33))
   }

   .color_34 {
      color: rgb(var(--color_34))
   }

   .color_35 {
      color: rgb(var(--color_35))
   }

   .color_36 {
      color: rgb(var(--color_36))
   }

   .color_37 {
      color: rgb(var(--color_37))
   }

   .color_38 {
      color: rgb(var(--color_38))
   }

   .color_39 {
      color: rgb(var(--color_39))
   }

   .color_40 {
      color: rgb(var(--color_40))
   }

   .color_41 {
      color: rgb(var(--color_41))
   }

   .color_42 {
      color: rgb(var(--color_42))
   }

   .color_43 {
      color: rgb(var(--color_43))
   }

   .color_44 {
      color: rgb(var(--color_44))
   }

   .color_45 {
      color: rgb(var(--color_45))
   }

   .color_46 {
      color: rgb(var(--color_46))
   }

   .color_47 {
      color: rgb(var(--color_47))
   }

   .color_48 {
      color: rgb(var(--color_48))
   }

   .color_49 {
      color: rgb(var(--color_49))
   }

   .color_50 {
      color: rgb(var(--color_50))
   }

   .color_51 {
      color: rgb(var(--color_51))
   }

   .color_52 {
      color: rgb(var(--color_52))
   }

   .color_53 {
      color: rgb(var(--color_53))
   }

   .color_54 {
      color: rgb(var(--color_54))
   }

   .color_55 {
      color: rgb(var(--color_55))
   }

   .color_56 {
      color: rgb(var(--color_56))
   }

   .color_57 {
      color: rgb(var(--color_57))
   }

   .color_58 {
      color: rgb(var(--color_58))
   }

   .color_59 {
      color: rgb(var(--color_59))
   }

   .color_60 {
      color: rgb(var(--color_60))
   }

   .color_61 {
      color: rgb(var(--color_61))
   }

   .color_62 {
      color: rgb(var(--color_62))
   }

   .color_63 {
      color: rgb(var(--color_63))
   }

   .color_64 {
      color: rgb(var(--color_64))
   }

   .color_65 {
      color: rgb(var(--color_65))
   }

   .backcolor_0 {
      background-color: rgb(var(--color_0))
   }

   .backcolor_1 {
      background-color: rgb(var(--color_1))
   }

   .backcolor_2 {
      background-color: rgb(var(--color_2))
   }

   .backcolor_3 {
      background-color: rgb(var(--color_3))
   }

   .backcolor_4 {
      background-color: rgb(var(--color_4))
   }

   .backcolor_5 {
      background-color: rgb(var(--color_5))
   }

   .backcolor_6 {
      background-color: rgb(var(--color_6))
   }

   .backcolor_7 {
      background-color: rgb(var(--color_7))
   }

   .backcolor_8 {
      background-color: rgb(var(--color_8))
   }

   .backcolor_9 {
      background-color: rgb(var(--color_9))
   }

   .backcolor_10 {
      background-color: rgb(var(--color_10))
   }

   .backcolor_11 {
      background-color: rgb(var(--color_11))
   }

   .backcolor_12 {
      background-color: rgb(var(--color_12))
   }

   .backcolor_13 {
      background-color: rgb(var(--color_13))
   }

   .backcolor_14 {
      background-color: rgb(var(--color_14))
   }

   .backcolor_15 {
      background-color: rgb(var(--color_15))
   }

   .backcolor_16 {
      background-color: rgb(var(--color_16))
   }

   .backcolor_17 {
      background-color: rgb(var(--color_17))
   }

   .backcolor_18 {
      background-color: rgb(var(--color_18))
   }

   .backcolor_19 {
      background-color: rgb(var(--color_19))
   }

   .backcolor_20 {
      background-color: rgb(var(--color_20))
   }

   .backcolor_21 {
      background-color: rgb(var(--color_21))
   }

   .backcolor_22 {
      background-color: rgb(var(--color_22))
   }

   .backcolor_23 {
      background-color: rgb(var(--color_23))
   }

   .backcolor_24 {
      background-color: rgb(var(--color_24))
   }

   .backcolor_25 {
      background-color: rgb(var(--color_25))
   }

   .backcolor_26 {
      background-color: rgb(var(--color_26))
   }

   .backcolor_27 {
      background-color: rgb(var(--color_27))
   }

   .backcolor_28 {
      background-color: rgb(var(--color_28))
   }

   .backcolor_29 {
      background-color: rgb(var(--color_29))
   }

   .backcolor_30 {
      background-color: rgb(var(--color_30))
   }

   .backcolor_31 {
      background-color: rgb(var(--color_31))
   }

   .backcolor_32 {
      background-color: rgb(var(--color_32))
   }

   .backcolor_33 {
      background-color: rgb(var(--color_33))
   }

   .backcolor_34 {
      background-color: rgb(var(--color_34))
   }

   .backcolor_35 {
      background-color: rgb(var(--color_35))
   }

   .backcolor_36 {
      background-color: rgb(var(--color_36))
   }

   .backcolor_37 {
      background-color: rgb(var(--color_37))
   }

   .backcolor_38 {
      background-color: rgb(var(--color_38))
   }

   .backcolor_39 {
      background-color: rgb(var(--color_39))
   }

   .backcolor_40 {
      background-color: rgb(var(--color_40))
   }

   .backcolor_41 {
      background-color: rgb(var(--color_41))
   }

   .backcolor_42 {
      background-color: rgb(var(--color_42))
   }

   .backcolor_43 {
      background-color: rgb(var(--color_43))
   }

   .backcolor_44 {
      background-color: rgb(var(--color_44))
   }

   .backcolor_45 {
      background-color: rgb(var(--color_45))
   }

   .backcolor_46 {
      background-color: rgb(var(--color_46))
   }

   .backcolor_47 {
      background-color: rgb(var(--color_47))
   }

   .backcolor_48 {
      background-color: rgb(var(--color_48))
   }

   .backcolor_49 {
      background-color: rgb(var(--color_49))
   }

   .backcolor_50 {
      background-color: rgb(var(--color_50))
   }

   .backcolor_51 {
      background-color: rgb(var(--color_51))
   }

   .backcolor_52 {
      background-color: rgb(var(--color_52))
   }

   .backcolor_53 {
      background-color: rgb(var(--color_53))
   }

   .backcolor_54 {
      background-color: rgb(var(--color_54))
   }

   .backcolor_55 {
      background-color: rgb(var(--color_55))
   }

   .backcolor_56 {
      background-color: rgb(var(--color_56))
   }

   .backcolor_57 {
      background-color: rgb(var(--color_57))
   }

   .backcolor_58 {
      background-color: rgb(var(--color_58))
   }

   .backcolor_59 {
      background-color: rgb(var(--color_59))
   }

   .backcolor_60 {
      background-color: rgb(var(--color_60))
   }

   .backcolor_61 {
      background-color: rgb(var(--color_61))
   }

   .backcolor_62 {
      background-color: rgb(var(--color_62))
   }

   .backcolor_63 {
      background-color: rgb(var(--color_63))
   }

   .backcolor_64 {
      background-color: rgb(var(--color_64))
   }

   .backcolor_65 {
      background-color: rgb(var(--color_65))
   }

   #comp-l0pl05ye {
      --menuTotalBordersY: 0px;
      --menuTotalBordersX: 0px
   }

   #comp-l0pt2v30 {
      --fnt: normal normal normal 18px/1.4em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --label-align: center;
      --label-text-align: center
   }

   #comp-l0pt2y80 {
      --fnt: normal normal normal 18px/1.4em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --label-align: center;
      --label-text-align: center
   }

   #comp-l0puw7pi {
      --fnt: normal normal normal 18px/1.4em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --label-align: center;
      --label-text-align: center
   }

   #comp-l0pt325c {
      --fnt: normal normal normal 18px/1.4em wfont_6c5a17_7fdd1e57ead542569229d7d2a86821f3, wf_7fdd1e57ead542569229d7d2a, orig_graphik_semibold;
      --label-align: center;
      --label-text-align: center
   }

   #comp-l0psyszb {
      --stroke-width: 0;
      --fill-opacity: 1;
      --stroke: #000000;
      --stroke-opacity: 1;
      --fill: #5CDA42
   }

   #comp-jzg81c0v {
      height: auto
   }

   #SITE_HEADER {
      --shc-mutated-brightness: 128, 128, 128;
      position: fixed !important;
      margin-top: var(--wix-ads-height);
      top: 0
   }

   #comp-jzlu0cho {
      --bg-overlay-color: transparent;
      --bg-gradient: none;
      --padding: 0px;
      --margin: 0px;
      min-width: 980px;
      --firstChildMarginTop: -1px;
      --lastChildMarginBottom: -1px;
      --items-direction: row
   }

   #SITE_PAGES {
      --transition-duration: 600ms
   }

   #comp-jzllkc2n {
      --bg-overlay-color: transparent;
      --bg-gradient: none;
      --padding: 0px;
      --margin: 0px;
      min-width: 980px;
      --firstChildMarginTop: -1px;
      --lastChildMarginBottom: -1px;
      --items-direction: row
   }

   #comp-jzlu0ckk {
      --bg-overlay-color: transparent;
      --bg-gradient: none;
      width: 100%;
      --column-width: 490px;
      --column-flex: 490
   }

   #comp-l0pl2tsp {
      --bg-overlay-color: transparent;
      --bg-gradient: none;
      width: 100%;
      --column-width: 490px;
      --column-flex: 490
   }

   #comp-jzllkc5i {
      --bg-overlay-color: transparent;
      --bg-gradient: none;
      width: 100%;
      --column-width: 980px;
      --column-flex: 980
   }

   #BACKGROUND_GROUP {
      --transition-duration: 600ms
   }